<%= form_for(@vcge) do |f| %>
  <% if @vcge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vcge.errors.count, "error") %> prohibited this vcge from being saved:</h2>

      <ul>
      <% @vcge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :termo_pai %><br />
    <%= f.collection_select(:termo_pai_id, Vcge.all, :id, :termo) %>

    <%= f.text_field :termo_pai %>
  </div>
  <div class="field">
    <%= f.label :termo %><br />
    <%= f.text_field :termo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
