<h1>Termos VCGE</h1>

<table class='border'>
  <tr>
    <th>Termo Pai</th>
    <th>Termo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vcges.each do |vcge| %>
  <tr>
    <td><%= vcge.termo_pai.termo if vcge.termo_pai %></td>
    <td><%= vcge.termo %></td>
    <td><%= link_to 'Show', vcge %></td>
    <td><%= link_to 'Edit', edit_vcge_path(vcge) %></td>
    <td><%= link_to 'Destroy', vcge, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Termo VCGE', new_vcge_path, :class => 'button' %>
