<h1>Listing vcges</h1>

<table>
  <tr>
    <th>Termo pai</th>
    <th>Termo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vcges.each do |vcge| %>
  <tr>
    <td><%= vcge.termo_pai.termo if vcge.termo_pai %></td>
    <td><%= vcge.termo %></td>
    <td><%= link_to 'Show', vcge %></td>
    <td><%= link_to 'Edit', edit_vcge_path(vcge) %></td>
    <td><%= link_to 'Destroy', vcge, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vcge', new_vcge_path %>
