<p id="notice"><%= notice %></p>

<p>
  <b>Termo pai:</b>
  <%= @vcge.termo_pai.termo if @vcge.termo_pai %>
</p>

<p>
  <b>Termo:</b>
  <%= @vcge.termo %>
</p>


<%= link_to 'Edit', edit_vcge_path(@vcge) %> |
<%= link_to 'Back', vcges_path %>
