<h1>Tipos de Datasets</h1>

<table class='border'>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_datasets.each do |tipo_dataset| %>
  <tr>
    <td><%= tipo_dataset.nome %></td>
    <td align='center'><%= link_to 'Detalhar', tipo_dataset %></td>
    <td align='center'><%= link_to 'Editar', edit_tipo_dataset_path(tipo_dataset) %></td>
    <td align='center'><%= link_to 'Apagar', tipo_dataset, confirm: 'Certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Tipo de Dataset', new_tipo_dataset_path, :class => 'button' %>
