<h1>Tipos de Links</h1>

<table class='border'>
  <tr>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_links.each do |tipo_link| %>
  <tr>
    <td><%= tipo_link.tipo %></td>
    <td><%= link_to 'Show', tipo_link %></td>
    <td><%= link_to 'Edit', edit_tipo_link_path(tipo_link) %></td>
    <td><%= link_to 'Destroy', tipo_link, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Tipo de Link', new_tipo_link_path, :class => 'button' %>
