<%= form_for(@dataset) do |f| %>
  <% if @dataset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dataset.errors.count, "erro") %> foram encontrados:</h2>

      <ul>
      <% @dataset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orgao, 'Órgão' %><br />
    <%= f.collection_select(:orgao_id, Orgao.all, :id, :nome, {:include_blank => true}) %>
  </div>

  <div class="field">
    <%= f.label :nome, 'Nome' %><br />
    <%= f.text_field :nome, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :tipo_dataset, 'Tipo do Dataset' %><br />
    <%= f.collection_select(:tipo_dataset_id, TipoDataset.all, :id, :nome, {:include_blank => true}) %>
  </div>

  <div class="field">
    <%= f.label :url, 'URL do Dataset' %><br />
    <%= f.text_field :url, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :url_documentacao, 'URL da Documentação' %><br />
    <%= f.text_field :url_documentacao, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :descricao, 'Descrição' %><br />
    <%= f.text_area :descricao, :size => '50x3' %>
  </div>

  <div class="field">
    <%= f.label :formato_dataset, 'Formato' %><br />
    <%= f.collection_select(:formato_dataset_id, FormatoDataset.all, :id, :nome, {:include_blank => true}) %>
  </div>

  <div class="field">
    <%= f.label :licenca, 'Licença' %><br />
    <%= f.collection_select(:licenca_id, Licenca.all, :id, :nome, {:include_blank => true}) %>
  </div>

  <div class="field">
    <%= f.label :guarda, 'Nome do órgão que detém a guarda dos dados' %><br />
    <%= f.text_field :guarda, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :origem, 'Origem dos Dados' %><br />
    <%= f.text_field :origem, :size => '70' %>
  </div>
  <div class="field">
    <%= f.label :siorg, 'Código SIORG' %><br />
    <%= f.collection_select(:siorg_id, Siorg.all, :id, :nome, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :vcge, 'VCGE' %><br />
    <%= f.collection_select(:vcge_id, Vcge.all, :id, :termo, {:include_blank => true}) %>
  </div>

  <div class="field">
    <%= f.label :granularidade_temporal, 'Granularidade Temporal' %><br />
    <%= f.collection_select(:granularidade_temporal_id, GranularidadeTemporal.all, :id, :nome, {:include_blank => true}) %>
  </div>

  <div class="field">
    <%= f.label :cobertura_temporal, 'Cobertura Temporal' %><br />
    <%= f.text_field :cobertura_temporal, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :granularidade_geografica, 'Granularidade Geográfica' %><br />
    <%= f.collection_select(:granularidade_geografica_id, GranularidadeGeografica.all, :id, :nome, {:include_blank => true}) %>
  </div>

  <div class="field">
    <%= f.label :cobertura_geografica, 'Cobertura Geográfica' %><br />
    <%= f.text_field :cobertura_geografica, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :data_criacao, 'Data de Criação' %><br />
    <%= f.date_select :data_criacao %>
  </div>
  <div class="field">
    <%= f.label :data_disponibilizacao, 'Data de Disponibilização' %><br />
    <%= f.date_select :data_disponibilizacao %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
