<%= form_for(@dataset) do |f| %>
  <% if @dataset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dataset.errors.count, "erro") %> foram encontrados:</h2>

      <ul>
      <% @dataset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orgao %><br />
    <%= f.collection_select(:orgao_id, Orgao.all, :id, :nome, {:include_blank => true}) %> (obrigatório)
  </div>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, :size => '70' %> (obrigatório)
  </div>

  <div class="field">
    <%= f.label :tipo_dataset %><br />
    <%= f.collection_select(:tipo_dataset_id, TipoDataset.all, :id, :nome, {:include_blank => true}) %> (obrigatório)
  </div>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, :size => '70' %> (obrigatório)
  </div>

  <div class="field">
    <%= f.label :url_documentacao %><br />
    <%= f.text_field :url_documentacao, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao, :size => '50x3' %> (obrigatório)
  </div>

  <div class="field">
    <%= f.label :comentario %><br />
    <%= f.text_area :comentario, :size => '50x3' %>
  </div>

  <div class="field">
    <%= f.label :formato_dataset %><br />
    <%= f.collection_select(:formato_dataset_id, FormatoDataset.all, :id, :nome, {:include_blank => true}) %> (obrigatório)
  </div>

  <div class="field">
    <%= f.label :licenca %><br />
    <%= f.collection_select(:licenca_id, Licenca.all, :id, :nome, {:include_blank => true}) %> (obrigatório)
  </div>

  <div class="field">
    <%= f.label :guarda %><br />
    <%= f.text_field :guarda, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :origem %><br />
    <%= f.text_field :origem, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :siorg %><br />
    (Campo escondido até se definir o que fazer)
    <!-- %= f.collection_select(:siorg_id, Siorg.all, :id, :nome, {:include_blank => true}) % -->
  </div>

  <div class='container'>
	<h3>Termos VCGE</h3> (ao menos 1 termo obrigatório)
	<div class="field">
		<table>
			<%= f.fields_for :vcges do |v| %>
			    <%= render "vcges", :f => v %>
			<% end %>
		</table>
		<%= link_to_add_links 'Outro Termo VCGE', f, :vcges %>
	</div>
  </div>


  <div class="field">
    <%= f.label :granularidade_temporal %><br />
    <%= f.collection_select(:granularidade_temporal_id, GranularidadeTemporal.all, :id, :nome, {:include_blank => true}) %> (obrigatório)
  </div>

  <div class="field">
    <%= f.label :cobertura_temporal %><br />
    <%= f.text_field :cobertura_temporal, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :granularidade_geografica %><br />
    <%= f.collection_select(:granularidade_geografica_id, GranularidadeGeografica.all, :id, :nome, {:include_blank => true}) %> (obrigatório)
  </div>

  <div class="field">
    <%= f.label :cobertura_geografica %><br />
    <%= f.text_field :cobertura_geografica, :size => '70' %>
  </div>

  <div class="field">
    <%= f.label :data_atualizacao %><br />
    <%= f.date_select :data_atualizacao, :date_separator => '/', :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
