<h1><%= @dataset.nome %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @dataset.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @dataset.descricao %>
</p>

<p>
  <b>Url:</b>
  <%= @dataset.url %>
</p>

<p>
  <b>Guarda:</b>
  <%= @dataset.guarda %>
</p>

<p>
  <b>Url documentacao:</b>
  <%= @dataset.url_documentacao %>
</p>

<p>
  <b>Cobertura temporal:</b>
  <%= @dataset.cobertura_temporal %>
</p>

<p>
  <b>Cobertura geografica:</b>
  <%= @dataset.cobertura_geografica %>
</p>

<p>
  <b>Data da Última Atualização:</b>
  <% if @dataset.nao_ha_data %>
		Não há.
  <% else %>
  	<%= @dataset.data_atualizacao %>
  <% end %>
</p>

<p>
  <b>Origem:</b>
  <%= @dataset.origem %>
</p>

<p>
  <b>Siorg:</b>
  <%= @dataset.siorg.nome if @dataset.siorg%>
</p>

<p>
  <b>VCGEs</b>
  <ul>
	  <% if @dataset.vcges.empty? %>
	     <li>Nenhum termo VCGE associado</li>
	  <% end %>
	  <% @dataset.vcges.each do |vcge| %>
		<li><%= vcge.uri %></li>
	  <% end %>
  </ul>

</p>

<p>
  <b>Granularidade temporal:</b>
  <%= @dataset.granularidade_temporal.nome if @dataset.granularidade_temporal %>
</p>

<p>
  <b>Granularidade geografica:</b>
  <%= @dataset.granularidade_geografica.nome if @dataset.granularidade_geografica %>
</p>

<p>
  <b>Formatos do dataset:</b>
  <ul>
	<% @dataset.formato_datasets.each do |formato| %>
		<li><%= formato.nome %></li>
	<% end %>
  </ul>
</p>

<p>
  <b>Tipo dataset:</b>
  <%= @dataset.tipo_dataset.nome if @dataset.tipo_dataset %>
</p>

<p>
  <b>Licenca:</b>
  <%= @dataset.licenca.nome if @dataset.licenca %>
</p>

<p>
  <b>Orgao:</b>
  <%= @dataset.orgao.nome if @dataset.orgao %>
</p>


<%= link_to 'Editar', edit_dataset_path(@dataset) %> |
<%= link_to 'Voltar', datasets_path %>
