<h1>Listing licencas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @licencas.each do |licenca| %>
  <tr>
    <td><%= licenca.nome %></td>
    <td><%= licenca.url %></td>
    <td><%= link_to 'Show', licenca %></td>
    <td><%= link_to 'Edit', edit_licenca_path(licenca) %></td>
    <td><%= link_to 'Destroy', licenca, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Licenca', new_licenca_path %>
