<h1>Códigos SIORG</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Código</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @siorgs.each do |siorg| %>
  <tr>
    <td><%= siorg.nome %></td>
    <td><%= siorg.codigo %></td>
    <td><%= link_to 'Show', siorg %></td>
    <td><%= link_to 'Edit', edit_siorg_path(siorg) %></td>
    <td><%= link_to 'Destroy', siorg, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo SIORG', new_siorg_path, :class => 'button' %>
