<p id="notice"><%= notice %></p>

<p>
  <b>Codigo do Pai:</b>
  <%= @siorg.codigo_pai %>
</p>

<p>
  <b>Codigo:</b>
  <%= @siorg.codigo %>
</p>

<p>
  <b>Nome:</b>
  <%= @siorg.nome %>
</p>




<%= link_to 'Editar', edit_siorg_path(@siorg) %> |
<%= link_to 'Voltar', siorgs_path %>
