<h1>Formatos de Datasets</h1>

<table class='border'>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @formato_datasets.each do |formato_dataset| %>
  <tr>
    <td><%= formato_dataset.nome %></td>
    <td><%= link_to 'Show', formato_dataset %></td>
    <td><%= link_to 'Edit', edit_formato_dataset_path(formato_dataset) %></td>
    <td><%= link_to 'Destroy', formato_dataset, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Formato de Dataset', new_formato_dataset_path, :class => 'button' %>
