<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> foram encontrados:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orgao %><br />
    <%= f.collection_select(:orgao_id, Orgao.all, :id, :nome, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :tipo_link %><br />
    <%= f.collection_select(:tipo_link_id, TipoLink.all, :id, :tipo, :include_blank => true) %> (obrigatório)
  </div>
  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %> (obrigatório)
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %> (obrigatório)
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
