<%= form_for(@orgao) do |f| %>
<div class="center">

	<% if @orgao.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@orgao.errors.count, "error") %> prohibited this orgao from being saved:</h2>

	    <ul>
	    <% @orgao.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<div class='container'>
		<h3>Informações Básicas</h3>
		<div class="field">
		  <%= f.label :nome %><br />
		  <%= f.text_field :nome, :size => '70' %>
		</div>
		<div class="field">
		  <%= f.label :siorg, 'Código SIORG' %><br />
		  <%= f.collection_select(:siorg_id, Siorg.all, :id, :nome) %>
		</div>
		<div class="field">
		  <%= f.label :licenca, 'Licença' %><br />
		  <%= f.collection_select(:licenca_id, Licenca.all, :id, :nome) %>
		</div>
		<div class="field">
		  <%= f.label :url, 'URL do Site Oficial' %><br />
		  <%= f.text_field :url, :size => '70' %>
		</div>
		<div class="field">
		  <%= f.label :url_sobre, 'URL da Página Sobre' %><br />
		  <%= f.text_field :url_sobre, :size => '70' %>
		</div>
		<div class="field">
		  <%= f.label :url_competencias, 'URL das Competências' %><br />
		  <%= f.text_field :url_competencias, :size => '70' %>
		</div>
		<div class="field">
		  <%= f.label :url_historico, 'URL do Histórico' %><br />
		  <%= f.text_field :url_historico, :size => '70' %>
		</div>
		<div class="field">
		  <%= f.label :url_organograma, 'URL do Organograma' %><br />
		  <%= f.text_field :url_organograma, :size => '70' %>
		</div>
		<div class="field">
		  <%= f.label :url_quem_e_quem, 'URL do Quem é Quem' %><br />
		  <%= f.text_field :url_quem_e_quem, :size => '70' %>
		</div>
	</div>
	<div class='container'>
		<h3>Links</h3>
		<div class="field">
			<table width='100%'>
			<td>Tipo do Link</td><td>Título da Página</td><td>URL</td>

			<%= f.fields_for :links do |l| %>
			    <tr>
					<!-- l.hidden_field :tipo_link_id, :value => TipoLink.find_by_tipo('Comunicação Externa').id -->
					<td><%= l.collection_select(:tipo_link_id, TipoLink.all, :id, :tipo, :include_blank => true) %></td>
					<td><%= l.text_field :titulo, :size => '50' %></td>
					<td><%= l.text_field :url, :size => '70' %></td>
				</tr>
			   <% end %>
			</table>
		</div>
	</div>
		
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
