<%= form_for(@orgao) do |f| %>
<div class="center">

	<% if @orgao.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@orgao.errors.count, "erro") %> ao salvar Órgão:</h2>

	    <ul>
	    <% @orgao.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<div class='container'>
		<h3>Informações Básicas</h3>
		<div class="field">
		  <%= f.label :nome %><br />
		  <%= f.text_field :nome, :size => '70' %> (obrigatório)
		</div>
		
		<div class="field">
			<table>
				<tr class='top'>
				<td>
					<%= f.label :siorg %>
					<%= hidden_field_tag :id_siorg_field, @orgao.siorg.id %><br />
			
				  	<%= text_field_tag :codigo_siorg, @orgao.siorg.codigo,  :id => 'codigo_siorg_field' %>
				</td>
				<td class='small'>
				    <span id='nome_siorg'><%= @orgao.siorg.nome %></span>
				</td>
				</tr>
			</table>
		</div>
		
		<div class="field">
		  <%= f.label :licenca %><br />
		  <%= f.collection_select(:licenca_id, Licenca.all, :id, :nome, {:include_blank => true}) %> (obrigatório)
		</div>
		<div class="field">
		  <%= f.label :url %><br />
		  <%= f.text_field :url, :size => '70' %> (obrigatório)
		</div>
		
	</div>
	
	<div class='container'>
		<h3>Páginas Associadas</h3>
		<h6>(desde que não sejam sub-órgãos)</h6>
		<div class="field">
			<table>
				<tr>
					<th>Título da Página</th>
					<th>URL</th>
				</tr>
				<%= f.fields_for :links do |l| %>
				    <%= render "links", :f => l %>
				<% end %>
			</table>
			<%= link_to_add_links 'Novo Link', f, :links %>
		</div>
	</div>
	<!-- div class='container'>
		<h3>Datasets</h3>
		< %= link_to 'Novo Dataset', new_dataset_path, :class => 'button' % >
	</div -->
	<div class='container'>
		<h3>Carta de Serviços ao Cidadão</h3>
		
		<div class="field">
		  <%= f.label :url_carta_servicos_cidadao %><br />
		  <%= f.text_field :url_carta_servicos_cidadao, :size => '70' %>
		</div>
		
		<div class="field">
		    <%= render 'obediencias', :f => f %>
		</div>
		
	</div>
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
</div>
<% end %>
