 <tr>
   <td><%= orgao.nome %></td>
   <td align='center'><%= orgao.created_at %></td>
<td align='center'><%= orgao.datasets.size %></td>
   <td align='center'><%= link_to 'Detalhes', orgao %></td>
   <td align='center'><%= link_to 'Editar', edit_orgao_path(orgao) %></td>
   <td align='center'><%= link_to 'Remover', orgao, confirm: 'Certeza?', method: :delete %></td>
<td align='center'><%= link_to 'CSV', export_csv_orgao_path(orgao) %></td>
 </tr>
