<h1>Sistema para Catalogação de Datasets</h1>


<div class="busca">
	<%= form_tag '/orgaos/search', :method => :get, :id => 'pesquisa', :remote => true do %>
	  <%= text_field_tag :q, 'Busca por Órgãos' %>
	  <%= submit_tag 'Buscar' %>
  <% end %>
</div>

<div id='loading'>
	<img src="/assets/carregando.gif" />
</div>

<div id='orgaos'>
	<%= render 'orgaos' %>
</div>

<%= link_to 'Cadastrar novo órgão', new_orgao_path, :class => 'button' %>
