<h1>Detalhes de <%= @orgao.nome %></h1>

<p id="notice"><%= notice %></p>
<div class='container'>
	<h3>Informações Básicas</h3>
	<p>
	  <b>Nome:</b>
	  <%= @orgao.nome %>
	</p>

	<p>
	  <b>Siorg:</b>
	  <%= @orgao.siorg.nome %>
	</p>

	<p>
	  <b>Licenca:</b>
	  <%= @orgao.licenca.nome %>
	</p>

	<p>
	  <b>URL do Site Oficial</b>
	  <%= @orgao.url %>
	</p>

	<p>
	  <b>URL da Página Sobre</b>
	  <%= @orgao.url_sobre %>
	</p>

	<p>
	  <b>URL de Competência</b>
	  <%= @orgao.url_competencias %>
	</p>

	<p>
	  <b>URL do Histórico</b>
	  <%= @orgao.url_historico %>
	</p>

	<p>
	  <b>URL do Organograma</b>
	  <%= @orgao.url_organograma %>
	</p>

	<p>
	  <b>URL do Quem é Quem</b>
	  <%= @orgao.url_quem_e_quem %>
	</p>
</div>
<div class='container'>
	<h3>Links</h3>
	<table class='border' width='70%'>
		<tr>
			<th>Tipo do Link</th>
			<th>Título da Página</th>
			<th>URL</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @orgao.links.each do |link| %>
			<tr class='border'>
				<td class='border' width='30%'><%= link.tipo_link.tipo %></td>
				<td class='border' width='40%'><%= link.titulo %></td>
				<td class='border' width='30%'><%= link.url %></td>
				<td><%= link_to 'Detalhar', link %></td>
			    <td><%= link_to 'Editar', edit_link_path(link) %></td>
			    <td><%= link_to 'Apagar', link, confirm: 'Certeza?', method: :delete %></td>
			</tr>
		<% end %>
	</table>
	</p>
</div>
<div class='container'>
	<h3>Datasets</h3>
	<table class='border' width='70%'>
		<% if @orgao.datasets.empty? %>
			Nenhum dataset cadastrado.<p/>
		<% else %>
			<tr>
				<th>Nome</th>
				<th>Formato</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		<% end %>
		<% @orgao.datasets.each do |dataset| %>
			<tr class='border'>
				<td class='border' width='30%'><%= dataset.nome %></td>
				<td class='border' width='40%'><%= dataset.formato_dataset.nome %></td>
				<td align='center'><%= link_to 'Detalhar', dataset %></td>
			    <td align='center'><%= link_to 'Editar', edit_dataset_path(dataset) %></td>
			    <td align='center'><%= link_to 'Apagar', dataset, confirm: 'Certeza?', method: :delete %>
			</tr>
		<% end %>
	</table>
	<%= link_to 'Novo Dataset', new_dataset_path, :class => 'button' %>
</div>

<%= link_to 'Editar', edit_orgao_path(@orgao) %> |
<%= link_to 'Voltar', orgaos_path %>
