<h1>Detalhes de <%= @orgao.nome %></h1>

<p id="notice"><%= notice %></p>
<div class='container'>
	<h3>Informações Básicas</h3>
	<p>
	  <b>Nome:</b>
	  <%= @orgao.nome %>
	</p>

	<p>
	  <b>Siorg:</b>
	  <%= @orgao.siorg.codigo %> - <%= @orgao.siorg.nome %>
	</p>

	<p>
	  <b>Licenca:</b>
	  <%= @orgao.licenca.nome %>
	</p>

	<p>
	  <b>URL do Site Oficial</b>
	  <%= @orgao.url %>
	</p>

</div>
<div class='container'>
	<h3>Links</h3>
	<table class='border' width='70%'>
		<% if @orgao.links.empty? %>
			Nenhum link cadastrado.<p/>
		<% else %>
			<tr>
				<th>Título da Página</th>
				<th>URL</th>
			</tr>
			<% @orgao.links.each do |link| %>
				<tr class='border'>
					<td class='border' width='40%'><%= link.titulo %></td>
					<td class='border' width='60%'><%= link.url %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
	</p>
</div>
<div class='container'>
	<h3>Datasets</h3>
	<table class='border' width='70%'>
		<% if @orgao.datasets.empty? %>
			Nenhum dataset cadastrado.<p/>
		<% else %>
			<tr>
				<th>Nome</th>
				<th>Formato</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		<% end %>
		<% @orgao.datasets.each do |dataset| %>
			<tr class='border'>
				<td class='border' width='30%'><%= dataset.nome %></td>
				<td class='border' width='40%'><%= dataset.formato_dataset.nome %></td>
				<td align='center'><%= link_to 'Detalhar', dataset %></td>
			    <td align='center'><%= link_to 'Editar', edit_dataset_path(dataset) %></td>
			    <td align='center'><%= link_to 'Apagar', dataset, confirm: 'Certeza?', method: :delete %>
			</tr>
		<% end %>
	</table>
</div>

<div class='container'>
	<h3>Carta de Serviço ao Cidadão</h3>
	<table>
		<tr>
			<td></td><td>Contempla?</td><td>Comentários</td>
		</tr>
		<% @orgao.obediencias.each do |obediencia| %>
			<tr>
			<% inciso = obediencia.inciso_carta_servicos_cidadao %>
			<td>
				<b>Art. <%= inciso.artigo %> &sect; <%= inciso.paragrafo %></b> <%= inciso.inciso %> - <%= inciso.texto %>
			</td>
			<td><%= obediencia.contempla %></td>
			<td><%= obediencia.comentarios %></td>
			</tr>
		<% end %>
	</table>
</div>

<%= link_to 'Editar', edit_orgao_path(@orgao) %> |
<%= link_to 'Voltar', orgaos_path %>
