<%= form_for(@granularidade_geografica) do |f| %>
  <% if @granularidade_geografica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@granularidade_geografica.errors.count, "error") %> prohibited this granularidade_geografica from being saved:</h2>

      <ul>
      <% @granularidade_geografica.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %> (obrigatório)
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
