<p id="notice"><%= notice %></p>

<p>
  <b>Artigo:</b>
  <%= @inciso_carta_servicos_cidadao.artigo %>
</p>

<p>
  <b>Paragrafo:</b>
  <%= @inciso_carta_servicos_cidadao.paragrafo %>
</p>

<p>
  <b>Inciso:</b>
  <%= @inciso_carta_servicos_cidadao.inciso %>
</p>

<p>
  <b>Texto:</b>
  <%= @inciso_carta_servicos_cidadao.texto %>
</p>


<%= link_to 'Edit', edit_inciso_carta_servicos_cidadao_path(@inciso_carta_servicos_cidadao) %> |
<%= link_to 'Back', inciso_carta_servicos_cidadaos_path %>
