<!DOCTYPE html>
<html>
<head>
  <title>Catalogodedados</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='messages'>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>

<div id='devise'>
	<% if user_signed_in? %>
		<%= current_user.email %> | <%= link_to 'Sair', destroy_user_session_path, :method => :delete %>
	<% end %>
</div>

<div class='center'>
<%= yield %>
</div>


<%= render :partial => ‘layouts/ga’ if Rails.env.production? %>

</body>
<footer class='center' align='center'>
	<ul>
		<li><%= link_to 'Órgãos', orgaos_path %></li>
		<li><%= link_to 'Datasets', datasets_path %></li>
	</ul>
	<ul>
		<li><%= link_to 'Tipos de Datasets', tipo_datasets_path %></li>
		<li><%= link_to 'Formatos de Datasets', formato_datasets_path %></li>
		<li><%= link_to 'Licenças', licencas_path %></li>
		<li><%= link_to 'Granularidades Temporais', granularidade_temporals_path %></li>
		<li><%= link_to 'Granularidades Geográficas', granularidade_geograficas_path %></li>
		<li><%= link_to 'Termos VCGE', vcges_path %></li>
		<li><%= link_to 'Códigos SIORG', siorgs_path %></li>
	</ul>
</footer>
</html>
